# Configuration file for USBGuard
# See usbguard.conf(5) for more information.

[USBGuardDaemon]
ListenStream=/run/usbguard/usbguard.sock
PolicyFile=/etc/usbguard/rules.conf
# LogLevel can be INFO, DEBUG, WARNING, or ERROR
LogLevel=INFO
