# Log ICMP traffic
if ($msg contains "NFT-ICMP") then {
    action(type="omfile" file="/var/log/nft_icmp.log" dirCreateMode="0755" fileCreateMode="0640")
    stop
}

# Custom logging for nftables
if ($msg contains "NFT-") then {
    action(type="omfile" file="/var/log/nftables.log" dirCreateMode="0755" fileCreateMode="0640")
    stop
}
