# Audit rules for monitoring
# -a always,exit -F arch=b64 -S execve -F exe=/bin/bash  # performance issue?
# -a always,exit -F arch=b64 -S open,openat,creat  # performance issue
#-a always,exit -F arch=b64 -S unlink,unlinkat,rename,renameat


# This file is managed by Ansible

# Monitor all write operations to the passwd file
-w /etc/passwd -p wa -k passwd_changes

# Monitor all write operations to the shadow file
-w /etc/shadow -p wa -k shadow_changes

# Monitor all write operations to the group file
-w /etc/group -p wa -k group_changes

# Monitor all write operations to the gshadow file
-w /etc/gshadow -p wa -k gshadow_changes

# Monitor changes to sudoers file
-w /etc/sudoers -p wa -k sudoers_changes

# Monitor changes in audit logs file
-w /var/log/audit/ -p wa -k audit_logs

# Monitor changes in selinux
-w /etc/selinux/ -p wa -k selinux_changes

# Log all use of the setuid and setgid programs
-a always,exit -F arch=b64 -S execve -C uid!=euid -F key=setuid

# Monitor unauthorized access attempts
-a always,exit -F arch=b64 -S open,openat,creat,truncate -F success=0 -F key=unauthorized_access
